{{> header }}
<p>
    <a href="/logger/{{ channel_name }}/{{ date }}.txt" class="btn btn-primary">Download Log</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th class="col-md-1">Time</th>
            <th class="col-md-1">Nick</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
        {{# messages }}
            <tr>
                <td><a href="#{{ time }}" name="{{ time }}">{{ time }}</a></td>
                <td>{{ nick }}</td>
                <td>{{ message }}</td>
            </tr>
        {{/ messages }}
    </tbody>
</table>
{{> footer }}

