*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
/dist
/build
/docs/build
/eggs
/parts
/bin
/var
/sdist
/develop-eggs
/.installed.cfg
/lib
/lib64
/include

# Databases
*.sqlite3
*.sqlite

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Local settings
my_settings.py
.vagrant

# Default helga channel logs
.logs

# Virtual environment and test related
.cache
.eggs
/venv
/env
.env

/*.log
/.pytest_cache
