Twisted==13.1.0
pymongo==2.5.2
tweepy==2.1
pytz==2013b
pyOpenSSL==0.13
requests==1.2.3
BeautifulSoup==3.2.1

# Because it handles optional arguments better
-e git://github.com/shaunduncan/smokesignal.git@e66cf26576#egg=smokesignal
-e git://github.com/shaunduncan/giphypop.git@4f548fd#egg=giphypop

# System Requirements:
# openssl
# mongodb
